<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mideo v0.0.6</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
<label class="file-label">Click here to open an MP4 video file<br>
<input type="file" id="videoFile" accept=".mp4">
</label>

<div class="demo-frame">
    <div class="demo-container">
        <div id="rectangle"></div>
        <video id="video" width="800" height="530" preload autoplay loop muted controls>
            <source src="" type="video/mp4">
        </video>
        <canvas id="canvas" width="800" height="500"></canvas>
    </div>
</div>

<script>
    console.log("client");
</script>

<script src="/js/client.entry.js"></script>
</body>
</html>
